# Pandas

In [1]:
import pandas as pd
import numpy as np

### Two Data structures

In [ ]:
DataFrame >> 2-D
Series    >> 1-D

### 1. create DataFrame

In [ ]:
df = pd.DataFrame()
1. list/tuple
2. numpy array
3. dict
4. series

### 2. Access

In [ ]:
df['ColName'] # series
df[['ColA','ColB']]  # df
df.loc[row_label,col_label]
df.loc[1:4,'A' : 'D']
df.loc[[3,4,5,6,7],['A','C']]

df.iloc[row_index, col_index]
df.iloc[2:5, 1:4] # 3 rows and 3 columns
df.iloc[[2,3,4], [1,2]] # 3 rows and 2 columns

### 3. Add Column

In [ ]:
df['NewCol'] = array
df['NewCol'] = list
df['NewCol'] = series
df['NewCol'] = 'python'

# 4. Delete

In [ ]:
df.drop('colNames',axis =1 ) # To delete columns
df.drop('rowNames',axis = 0 ) # To delete rows
del df['colName']

# Read Data

In [ ]:
1. pd.read_csv('csv_file_name.csv',delimiter = '|',index_col=None,usecols = [col_list])
2. pd.read_excel('csv_file_name.xlsx',sheet_name='data')

# Create CSV/Excel

In [ ]:
df.to_csv()
df.to_excel()
df.to_dict()
df.to_json()

# Sort DataFrame

In [ ]:
1. df.sort_index()
2. df.sort_values()
3. df.reset_index()
4. df.set_index()

# Other Functions

In [ ]:
df.head()
df.tail()
df.shape
df.shape[0]
df.shape[1]
df.T  # Transpose of DF
df.describe()  # stats of numeric columns
df.index
df.columns
df.axes
df.dtypes
df.info()

# Convert df to list

In [ ]:
df.values # used to convert df to array
df.values.tolist()

# Handling of Missing Values

In [ ]:
df.isna()
df.isnull()
df.isna().sum()
df.isnull().sum()

df.fillna()
df.replace({np.nan:0})

df.dropna(thresh=2)

# Stats

In [ ]:
df.fillna()

df['a'].mean()
df['a'].median()
df['a'].mode()[0]
df['a'].std()
df['a'].var()
df['a'].min()
df['a'].max()

In [19]:
df = pd.DataFrame(np.random.randint(1,10,size = (7,2)),columns=['a','b'])
df['a']

0    8
1    9
2    8
3    6
4    6
5    8
6    7
Name: a, dtype: int32

In [21]:
df['a'].mean()
df['a'].median()
df['a'].mode()[0]

8

# Join DataFrames

In [ ]:
1. df.append(df2)
2. df.join()
3. pd.concat()
4. pd.merge()

5. df.insert()

In [26]:
df['a'].unique()
df['a'].nunique()
df['a'].value_counts()
df['a'].astype()

8    3
6    2
9    1
7    1
Name: a, dtype: int64

In [ ]:
df.rename()
df.groupby()
df.apply()
df.drop_duplicates()

In [29]:
df

   a  b
0  8  7
1  9  5
2  8  3
3  6  2
4  6  8
5  8  8
6  7  9

In [31]:
df.iloc[2,1] = 8
df

   a  b
0  8  7
1  9  5
2  8  8
3  6  2
4  6  8
5  8  8
6  7  9

In [34]:
df = df.drop_duplicates(keep = 'last')
df

   a  b
0  8  7
1  9  5
2  8  8
3  6  2
4  6  8
6  7  9